#searchButton {
	margin-right: 5px;
	margin-top: 10px;
}

#sidebar {
	padding: 15px;
	border: 1px solid red;
	border-radius: 5px;
	margin-right: 30px;
}

.btn {
	margin-right: 5px;
	margin-bottom: 10px;
}

#maincontent {
	width: 560px;
}
.jumbotron {
	border: 1px solid red;
	font-family: 'Inconsolata', monospace;
	text-align: center;
}